:root {
  --background: #2c0000;
  --creme: #f5e9d7;
  --taupe: #8a7363;
  --taupe-dark: #6c584b;
  --duration: 2500ms;
  --delay: 300ms;
  --curtain-img: url('medias/curtain.png');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--background);

  color: #f5e9d7;
  font-family: "Georgia", serif;
  scroll-behavior: smooth;
}

/* --- Rideau --- */
.curtain {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 1000;
  background-image: var(--curtain-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(0);
  transition: transform var(--duration) ease-in-out;
  will-change: transform;
}

.curtain.left {
  left: 0;
  transform-origin: left;
}

.curtain.right {
  right: 0;
  transform-origin: right;
}

.curtain.open.left {
  transform: translateX(-105%);
}

.curtain.open.right {
  transform: translateX(105%);
}

@media (prefers-reduced-motion: reduce) {

  .curtain,
  .curtain.open {
    transition: none !important;
    transform: none !important;
    display: none;
  }
}

/* SECTION 2 - LOGO */
#logo-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#logo-screen .logo {
  width: 200px;
  margin-bottom: 20px;
}

#enter-btn {
  background: var(--taupe);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s;
}

#enter-btn:hover {
  background: var(--taupe-dark);
}

header, main, footer{
    display: none;
}

/* SECTION 3 - ACCUEIL */
/*#home {
  display: none;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}*/

header {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.mini-logo {
  width: 200px;
}

.icons {
  display: flex;
  gap: 70px;
  transform: translateX(-10%);
}

.icon {
  width: 50px;
  height: 50px;
  background-color: var(--creme);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 45px;
}

/* Effets hover et clic */
.icon:hover {
  background-color: #f5e9d7c7;
  animation: rotate 0.6s ease forwards;
}

@keyframes rotate {
  to {
    transform: scale(1.1) rotate(359deg);
  }
}

.icon:active {
  background-color: #ffe8c5;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--taupe);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: var(--taupe-dark);
}

/* CAROUSEL */
.carousel {
  display: flex;
  overflow: hidden;
  position: relative;

  max-height: 800px;
  width: 90%;
  margin: 0 auto 50px;
  border-radius: 10px;
  border: #f5e9d7 solid 5px;
}

.container {
  position: relative;
  width: 300%;
  display: flex;
  transition: all 1s ease;

  animation: slide 20s infinite;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    left: 0;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -200%;
  }
}

section:not(.carousel) {
  min-height: 100vh;
}

/* GRAPHIQUE */
.graphique {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

#graph-contain {
  background-color: rgb(15, 15, 15);
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.185);
}

.graphique button {
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  background-color: #84191E;
  color: aliceblue;
  font-weight: bold;
  font-size: 1rem;

  transition: all 0.3s ease-in-out;
}

.graphique button:hover {
  cursor: pointer;
  transform: translateY(5px);
  background-color: #da4e55;
  color: #160001;
}

.graphique button.active {
  background-color: #ffb6c1;
  color: #160001;
  font-weight: bold;
}